<% include partials/header %>

<section id="about">
    <div class="container w-50 mb-5">
        <h1 class="display-3">About</h1>
        <div class="row">
            <div class="col-sm-12">
                <div class="shadow-lg p-5 mb-5 bg-white rounded">
                    <p>This is a simple and functional live demo App that allows you to search for movies.</p>
                    <p>The App use the RESTful web service of <a href="http://www.omdbapi.com" target="_blank" class="poweredLinks">OMDb (Open Movie Database) API</a> to get the movie information.</p>
                    <p class="mt-5">Made with HTML. CSS, Bootstrap, Node.js, and Express.js</p>
                    <p class="text-muted small">app version : 1.0</p>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>