body {
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer {
    padding: 3rem;
    color: rgb(209, 209, 209);
    background-color: rgb(0, 45, 87);
}

h5 {
    font-weight: 300;
}

#main form input {
    margin-bottom: 3rem;
}

#main form button {
    margin-bottom: 10rem;
}

#main .container {
    display: block;
    max-width: 40%;
}

#fooIcons li a {
    color: rgb(255, 249, 249);
}
  
#fooIcons li a:hover {
    color: rgb(138, 138, 138);
    font-size: 1.5rem;
}

#powered {
    color: rgb(209, 209, 209);
    margin-top: 7rem;
    text-align: center;
}

.inputBgColor {
    background-color: rgb(231, 230, 230);
}

.footerLinks:a {
    color: rgb(0, 204, 255);
}

.footerLinks:visited {
    color: rgb(0, 204, 255);
}

.footerLinks:hover,
.footerLinks:active,
.footerLinks:focus {
color: rgb(143, 143, 143);
text-decoration: underline;
}

.poweredLinks:a {
    color: rgb(0, 204, 255);
}

.poweredLinks:visited {
    color: rgb(0, 204, 255);
}

.poweredLinks:hover,
.poweredLinks:active,
.poweredLinks:focus {
color: rgb(143, 143, 143);
text-decoration: underline;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar.scrolled {
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
}
  
.poster {
    width: 300px;
    height: 442px;
    padding: .8rem;
    box-shadow: 7px 7px 10px rgb(158, 158, 158);
    margin-top: .1rem;
}

.display-3 {
    color: whitesmoke;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

.list-unstyled li {
    display: inline;
    font-size: 1.8rem;
}

.card {
    margin-bottom: 5rem;
}

.card-text {
    margin-top: 1.2rem;
}

.card-header {
    color: whitesmoke;
    background-color: rgb(41, 41, 41);
}

.card-footer {
    color: whitesmoke;
    background-color: rgb(41, 41, 41);
}